[Unit]
Description=Run Sendebude cleanup every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=60
Unit=share-cleanup.service

[Install]
WantedBy=timers.target
